{% extends "admin/change_list.html" %}
{% load i18n eirib_followup_tag static %}

{% block extrahead %}
    {{ block.super }}
    {% if opts.app_label == 'IRIB_HR' and opts.model_name == 'bonus' %}
        <script type="text/javascript" src="{% static 'js/custom_admin.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bonus.js' %}"></script>
    {% endif %}
{% endblock %}

{% block object-tools %}
    {% if opts.model_name == 'enactment' %}
        <ul class="object-tools object-tools-print">
            <li>
                {% if opts.app_label == 'EIRIB_FollowUp' %}
                    <a href="{% url 'admin:eirib-enactment-report-excel' %}" title="{% trans 'Excel Report' %}"
                       target="_blank">{% trans 'Excel Report' %}</a>
                    {% elif opts.app_label == 'IRIB_FollowUp' %}
                    <a href="{% url 'admin:irib-enactment-report-excel' %}" title="{% trans 'Excel Report' %}"
                       target="_blank">{% trans 'Excel Report' %}</a>
                {% endif %}
            </li>
            <li>
                {% if opts.app_label == 'EIRIB_FollowUp' %}
                    <a href="{% url 'admin:eirib-enactment-todo-report' %}" title="{% trans 'Todo tasks' %}"
                       target="_blank">{% trans 'Todo tasks' %}</a>
                    {% elif opts.app_label == 'IRIB_FollowUp' %}
                    <a href="{% url 'admin:irib-enactment-todo-report' %}" title="{% trans 'Todo tasks' %}"
                       target="_blank">{% trans 'Todo tasks' %}</a>
                {% endif %}
            </li>
            <li>
                {% if opts.app_label == 'EIRIB_FollowUp' %}
                    <a href="{% url 'admin:eirib-enactment-report' %}" title="{% trans 'Print' %}"
                       target="_blank">{% trans 'Print' %}</a>
                    {% elif opts.app_label == 'IRIB_FollowUp' %}
                    <a href="{% url 'admin:irib-enactment-report' %}" title="{% trans 'Print' %}"
                       target="_blank">{% trans 'Print' %}</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block result_list %}
    {% data_loading opts.app_label as data_loading %}
    {% block pagination %} {{ block.super }} {% endblock %}
    {% if data_loading.0 %}
        <div class="errornote loading-message">{% trans 'Data not loaded yet, please wait...' %}</div>
    {% elif data_loading.1 %}
        <div class="errornote loading-message">{% trans 'Data syncronization failed. Try later and contact administrator if failing repeats.' %}</div>
    {% endif %}
    {{ block.super }}
{% endblock %}
