{% extends "admin/change_form.html" %}
{% load static i18n eirib_followup_tag %}

{% if opts.model_name == 'enactment' %}
        <script type="text/javascript" src="{% static 'js/custom_enactment_admin.js' %}"></script>
    {% block extrahead %}
        {{ block.super }}
        <script>
            var url = '{% url 'ajax_actor_supervisor_unit' %}';
        </script>
        <script type="text/javascript" src="{% static 'js/custom_admin.js' %}"/>
    {% endblock %}
{% endif %}

{% block object-tools %}
    {% if opts.model_name == 'session' and original.pk %}
        <ul class="object-tools object-tools-print object-tools-print-detail">
            <li>
                <a href="{% url 'admin:session-report' pk=original.pk %}" title="{% trans 'Print' %}"
                   target="_blank">{% trans 'Print' %}</a>
            </li>
        </ul>
    {% endif %}
    {{ block.super }}

    {% if opts.model_name == 'payslip' and original.pk %}
        <ul class="object-tools object-tools-print object-tools-print-detail">
            <li>
                <a href="{% url 'admin:payslip-report' pk=original.pk %}" title="{% trans 'Print' %}"
                   target="_blank">{% trans 'Print' %}</a>
            </li>
        </ul>
    {% endif %}

    {% if opts.model_name == 'enactment' and original.pk %}
        <ul class="object-tools object-tools-print object-tools-print-detail">
            <li>
                {% if opts.app_label == 'EIRIB_FollowUp' %}
                    <a href="{% url 'admin:eirib-enactment-print' pk=original.pk %}" title="{% trans 'Print' %}"
                       target="_blank">{% trans 'Print' %}</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {% data_loading opts.app_label as data_loading %}
    {% block pagination %} {{ block.super }} {% endblock %}
    {% if data_loading.0 %}
        <div class="errornote loading-message">{% trans 'Data not loaded yet, please wait...' %}</div>
    {% elif data_loading.1 %}
        <div class="errornote loading-message">{% trans 'Data syncronization failed. Try later and contact administrator if failing repeats.' %}</div>
    {% endif %}
    {{ block.super }}
{% endblock %}
