{% extends "admin/index.html" %}

{% load i18n static irib_shared_tag eirib_followup_tag %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}"/>
{% endblock %}

{% block content %}
    <div id="content-main">
        {% if app_list %}
            {% for app in app_list %}
                <div class="app-{{ app.app_label }} module">
                    {% if app.app_label == 'IRIB_HR' %}
                        {% if user.is_superuser or user.is_secretary %}
                            <form enctype="multipart/form-data" action="/hr_start_sync/" method="post"
                                  id="payslip_form">
                            {% csrf_token %}
                        {% endif %}
                    {% endif %}
                    <table>
                        <caption>
                            <a href="{{ app.app_url }}" class="section"
                               title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                        </caption>
                        {% if app.app_label == 'EIRIB_FollowUp' %}
                            {% if user.is_superuser or user.is_secretary %}
                                {% data_loading 'index' as data_loading %}
                                {% if data_loading.1 %}
                                    <div class="errornote loading-message index">{% trans 'Data syncronization failed. Try later and contact administrator if failing repeats.' %}</div>
                                {% endif %}
                                <tr class="model-{{ model.object_name|lower }}">
                                    <th scope="row"><a href="javascript: void(0);">{% trans 'Update data' %}</a></th>
                                    {% if data_loading.0 %}
                                        <td scope="row" colspan="2"><img
                                                src="{% static 'img/loading-gears-animation.gif' %}"
                                                class="startedlink"/>{% trans 'Updating' %}</td>
                                    {% else %}
                                        <td></td>
                                        <td scope="row"><a href="/admin/start_sync/"
                                                           class="startlink">{% trans 'Start' %}</a></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endif %}

                        {% if app.app_label == 'IRIB_HR' %}
                            {% if user.is_superuser or user.is_secretary %}
                                {% data_loading 'index' as hr_data_loading %}
                                {% if hr_data_loading.1 %}
                                    <div class="errornote loading-message index">{% trans 'Data syncronization failed. Try later and contact administrator if failing repeats.' %}</div>
                                {% endif %}
                                <tr class="model-{{ model.object_name|lower }}">
                                    <th scope="row">
                                        <a href="javascript: void(0);">{% trans 'Update data' %}</a>
                                        <input id="file" name="file" type="file"/>
                                    </th>
                                    {% if hr_data_loading.0 %}
                                        <td scope="row" colspan="2"><img
                                                src="{% static 'img/loading-gears-animation.gif' %}"
                                                class="startedlink"/>{% trans 'Updating' %}</td>
                                    {% else %}
                                        <td></td>
                                        <td scope="row"><a
                                                href="javascript: document.getElementById('payslip_form').submit();"
                                                class="startlink">{% trans 'Start' %}</a></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endif %}

                        {% for model in app.models %}
                            <tr class="model-{{ model.object_name|lower }}">
                                {% if model.admin_url %}
                                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                                {% else %}
                                    <th scope="row">{{ model.name }}</th>
                                {% endif %}

                                {% if model.add_url %}
                                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}

                                {% if model.admin_url %}
                                    {% if model.view_only %}
                                        <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                                    {% else %}
                                        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                    {% if app.app_label == 'IRIB_HR' %}
                        {% if user.is_superuser or user.is_secretary %}
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>
        {% endif %}
    </div>
{% endblock %}