{% extends "admin/submit_line.html" %}
{% load i18n static admin_urls %}

{% block submit-row %}
    {{ block.super }}
    {% if  opts.model_name == 'enactment' %}
        {% if user.is_superuser or user.is_secretary %}
            <div class="close-enactment">
                <p class="deletelink-box">
                    <input type="button" value="{% trans 'Close enactment' %}" class="close-enactment"
                           onclick='javascript: location.href="{% url 'admin:close' %}?pk={{ original.pk }}"'>
                </p>
            </div>
        {% endif %}
        <div class="center">
            {% if LANGUAGE_CODE == 'fa' %}
                <input type="button" value="◄◄" class="close-enactment" title="{% trans 'Last' %}"
                       onclick='javascript: location.href="{% url 'admin:last' %}"'>
                <input type="button" value="◄" class="close-enactment" title="{% trans 'Next' %}"
                       onclick='javascript: location.href="{% url 'admin:next' %}?pk={{ original.pk }}"'>
                <input type="button" value="►" class="close-enactment" title="{% trans 'Previous' %}"
                       onclick='javascript: location.href="{% url 'admin:first' %}"'>
                <input type="button" value="►►" class="close-enactment" title="{% trans 'First' %}"
                       onclick='javascript: location.href="{% url 'admin:previous' %}?pk={{ original.pk }}"'>
            {% else %}
                <input type="button" value="◄◄" class="close-enactment" title="{% trans 'First' %}"
                       onclick='javascript: location.href="{% url 'admin:previous' %}?pk={{ original.pk }}"'>
                <input type="button" value="◄" class="close-enactment" title="{% trans 'Previous' %}"
                       onclick='javascript: location.href="{% url 'admin:first' %}"'>
                <input type="button" value="►" class="close-enactment" title="{% trans 'Next' %}"
                       onclick='javascript: location.href="{% url 'admin:next' %}?pk={{ original.pk }}"'>
                <input type="button" value="►►" class="close-enactment" title="{% trans 'Last' %}"
                       onclick='javascript: location.href="{% url 'admin:last' %}"'>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
