@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/IRANSansWeb(FaNum)_Black.b6c45d92.eot");
    src: url("../fonts/IRANSansWeb(FaNum)_Black.b6c45d92.eot?#iefix") format("embedded-opentype"),url("../fonts/IRANSansWeb(FaNum)_Black.24f304ff.woff2") format("woff2"),url("../fonts/IRANSansWeb(FaNum)_Black.bea60ea7.woff") format("woff"),url("../fonts/IRANSansWeb(FaNum)_Black.20f2dc0a.ttf") format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/IRANSansWeb(FaNum)_Bold.4abe2963.eot");
    src: url("../fonts/IRANSansWeb(FaNum)_Bold.4abe2963.eot?#iefix") format("embedded-opentype"),url("../fonts/IRANSansWeb(FaNum)_Bold.ceaf6d89.woff2") format("woff2"),url("../fonts/IRANSansWeb(FaNum)_Bold.753b3827.woff") format("woff"),url("../fonts/IRANSansWeb(FaNum)_Bold.ff320f78.ttf") format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/IRANSansWeb(FaNum)_Medium.30ecec09.eot");
    src: url("../fonts/IRANSansWeb(FaNum)_Medium.30ecec09.eot?#iefix") format("embedded-opentype"),url("../fonts/IRANSansWeb(FaNum)_Medium.62528a12.woff2") format("woff2"),url("../fonts/IRANSansWeb(FaNum)_Medium.fe191314.woff") format("woff"),url("../fonts/IRANSansWeb(FaNum)_Medium.87896226.ttf") format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/IRANSansWeb(FaNum)_Light.ad395cc9.eot");
    src: url("../fonts/IRANSansWeb(FaNum)_Light.ad395cc9.eot?#iefix") format("embedded-opentype"),url("../fonts/IRANSansWeb(FaNum)_Light.3f707510.woff2") format("woff2"),url("../fonts/IRANSansWeb(FaNum)_Light.25bd95ce.woff") format("woff"),url("../fonts/IRANSansWeb(FaNum)_Light.bd26f02a.ttf") format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/IRANSansWeb(FaNum)_UltraLight.bbb57c70.eot");
    src: url("../fonts/IRANSansWeb(FaNum)_UltraLight.bbb57c70.eot?#iefix") format("embedded-opentype"),url("../fonts/IRANSansWeb(FaNum)_UltraLight.6e57754a.woff2") format("woff2"),url("../fonts/IRANSansWeb(FaNum)_UltraLight.658b8564.woff") format("woff"),url("../fonts/IRANSansWeb(FaNum)_UltraLight.cb2ad232.ttf") format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/IRANSansWeb(FaNum).94c311fd.eot");
    src: url("../fonts/IRANSansWeb(FaNum).94c311fd.eot?#iefix") format("embedded-opentype"),url("../fonts/IRANSansWeb(FaNum).eb5adaac.woff2") format("woff2"),url("../fonts/IRANSansWeb(FaNum).bd6f69a8.woff") format("woff"),url("../fonts/IRANSansWeb(FaNum).e9908f05.ttf") format("truetype")
}


:lang(fa) {
    font-family: IRANSans !important;
}

:lang(en) {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif !important;
}

#branding {
    width: 60%;
    float: left;
    position: relative;
}

#branding .logo {
    width: 120px;
}

.login #branding {
    width: 100%;
}

:lang(fa) #branding {
    float: right;
}

.blocking-logo {
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.blocking-logo {
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.blocking-version {
    font-size: 12px;
}

.startlink, .inlinestartlink {
    padding-right: 16px !important;
    background: url('/static/admin/img/icon-yes.svg') 0 1px no-repeat;
    background-position: right;
}

.startedlink {
    width: 30px;
    padding-right: 10px;
}

:lang(fa) .startedlink {
    padding-left: 10px;
}

:lang(fa) .startlink, .inlinestartlink {
    padding-left: 16px !important;
    padding-right: auto !important;
}

.admin-interface.login #header #branding h1 img.logo + span {
    margin-bottom: 5px;
    right: 0;
}

:lang(fa) .admin-interface.login #header #branding h1 img.logo + span {
    right: 95px;
    left: auto;
    white-space: inherit;
    width: fit-content;
}

.i18n_flag {
    width: 26px;
    vertical-align: text-top;
}

.form-row.field-url div.readonly {
    direction: initial;
    text-align: -webkit-match-parent;
}

.aligned label {
    width: fit-content;
}

.fieldBox.field-box.field-activity,
.fieldBox.field-box.field-_date,
.fieldBox.field-box.field-_review_date,
.fieldBox.field-box.field-session,
.fieldBox.field-box.field-date,
.fieldBox.field-box.field-review_date,
.fieldBox.field-box.field-assigner,
.fieldBox.field-box.field-subject,
.fieldBox.field-box.field-first_actor,
.fieldBox.field-box.field-second_actor,
.fieldBox.field-box.field-follow_grade,
.fieldBox.field-box.field-first_supervisor,
.fieldBox.field-box.field-second_supervisor,
.fieldBox.field-box.field-_type,
.fieldBox.field-box.field-session_date,
.fieldBox.field-box.field-session_absents,
.fieldBox.field-box.field-status,
.fieldBox.field-box.field-max_score,
.fieldBox.field-box.field-score,
.fieldBox.field-box.field-user,
.fieldBox.field-box.field-limit,
.fieldBox.field-box.field-quantity,
.fieldBox.field-box.field-subject,
.field-first_name.field-last_name.field-personnel_id.form-row,
.form-row.field-department.field-working_place.field-contract_type.field-job_title,
.form-row.field-basic_salary.field-overtime_working.field-insurance.field-tax,
.form-row.field-gross_salary.field-deductions_sum.field-salary_net,
.fieldBox.field-box.field-row {
    white-space: nowrap;
}

div.field-assigner.field-review_date.field-row.field-subject.form-row,
div.form-row.field-row.field-session.field-_date.field-_review_date,
div.form-row.field-assigner.field-subject.field-code,
div.form-row.field-row.field-date.field-status,
div.form-row.field-_type.field-description {
    width: 100%;
}

.fieldBox.field-box.field-row {
    width: auto;
}

.fieldBox.field-box.field-row div {
    margin: 0 75px;
}

.fieldBox.field-box.field-subject {
    width: auto;
}

.form-row.field-description div div {
    padding-right: 80px;
}

.errornote.loading-message.index {
    width: 100%;
}

.loading-message {
    width: auto;
    margin-right: 280px;
}

:lang(fa) .loading-message {
    margin-left: 280px;
    margin-right: 0;
}

:lang(fa) .admin-interface .paginator .this-page + a:not(.showall) {
    margin-left: auto;
}

.record-nav img {
    width: 28px;
    border: solid #4c70a6 2px;
    padding: 3px;
}

.container {
    position: relative;
    width: 100%;
}

.center {
    margin: 5px auto;
    width: fit-content;
}

.submit-row a.closelink {
    float: right;
}

:lang(fa) .submit-row a.closelink {
    float: left;
}

.admin-interface .submit-row input.close-enactment {
    margin: 0 5px;
}

.admin-interface .submit-row input.navigation {
    margin: 0 5px;
    height: 25px;
    line-height: 7px;
}

.admin-interface .submit-row div.close-enactment,
.admin-interface .submit-row div.navigation {
    float: left;
}

:lang(fa) .admin-interface .submit-row div.close-enactment,
:lang(fa) .admin-interface .submit-row div.navigation {
    float: right;
}

span.filtered {
    color: red;
}

p.datetime {
    margin-top: -8px !important;
}

.list-reports .result_list {
    width: 100%;
}

.list-reports {
    margin-right: 0 !important;
}

:lang(fa) .list-reports {
    margin-left: 0 !important;
}

.column-row, .field-row {
    width: 5%;
}

.column-type, .field-type {
    width: 5%;
}

.column-subject, .field-subject {
    width: 15%;
}

.column-description, .field-description {
    width: 55%;
}

.column-followups, .field-followups {
    width: 15%;
}

.object-tools-print a {
    width: fit-content;
    text-align: center;
}

.object-tools-print {
    margin-right: 160px;
}

:lang(fa) .object-tools-print {
    margin-left: 160px;
}

.object-tools-print-detail {
    margin-right: 80px;
}

:lang(fa) .object-tools-print-detail {
    margin-left: 80px;
}

.custom-command {
    float: left;
    margin-top: -4px;
}

:lang(fa) .custom-command {
    float: right;
}

.fieldBox.field-box.field-status label,
.form-row.dynamic-activityassessment_set td.original p {
    display: none;
}

table.assessment {
    width: 100%;
}

.row, .column {
    box-sizing: border-box;
}

:lang(fa).assessor {
    float: right;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dynamic-activityassessment_set td.field-score {
    direction: ltr;
    text-align: center;
}

.status {
    width: 20px;
    height: 20px;
    border: solid 1px #b3b3b3;
    border-radius: 10px;
    margin-top: 5px;
}

.status.draft {
    background-color: #e7b639;
}

.status.new {
    background-color: #3390E7;
}

.status.accepted {
    background-color: #E7E7E7;
}

.status.edit_needed {
    background-color: #E4E736;
}

.status.rejected {
    background-color: #E74C3C;
}

.status.conditional {
    background-color: #ff9800;
}

.status.approved {
    background-color: #39E749;
}

div.payslip {
    border: solid 3px #000;
    line-height: 40px;
}

div.payslip .row {
    width: 100%;
    display: flex;
}

div.payslip .row .column {
    display: flex;
    padding: 0px 5px;
}

div.payslip .header {
    background-color: grey;
    color: #fff;
}

div.payslip .header,
div.payslip .header .column {
    display: block;
    text-align: center;
}

.bordered {
    border-top: solid 1px #000;
    border-left: solid 1px #000;
}

:lang(fa) .bordered {
    border-left: 0;
    border-right: solid 1px #000;
}

:lang(fa) .bordered:last-child {
    border-left: 0;
}

.foot-note {
    padding: 20px;
    font-weight: bold;
}

.no-side-border {
    border-left: 0 !important;
}

:lang(fa) .no-side-border {
    border-right: 0 !important;
}

.no-top {
    border-top: 0;
}

:lang(fa) #payslip_form .aligned .readonly {
    margin-right: 60px;
}

.fieldBox.field-box {
    min-width: 300px !important;
}

h1.enactment-print {
    text-align: center;
}

.enactment-print td {
    border: solid 1px black;
}

.cancel-save{
    margin: 4px 8px 0 0;
}

#bonus_form .form-row.field-type,
#bonussubtype_form .form-row.field-type {
    width: auto;
}

#bonus_form input#id_amount {
    width: 150px;
}